@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("../../public/fonts/LibreBaskerville-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../../public/fonts/LibreBaskerville-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("../../public/fonts/LibreBaskerville-Italic.ttf");
  font-style: normal;
}
