.banner {
  .banner_slider {
    position: relative;
    &.slick-slider {
      margin-bottom: 0;
    }

    // .container{
    //     height: 100%;
    // }
    .text_section {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      //    height: 100%;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0px 0px;
      }

      .para {
        margin: 30px 0px;
        font-weight: 500;
        @media screen and (max-width: 767px) {
          margin: 10px 0px 30px;
        }
      }

      &.fadeUp {
        animation: fadeUp 2s;
        // opacity: 0;
        animation-fill-mode: both;
        // transform: translateY(100%);
      }
      @keyframes fadeUp {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
    .banner_item {
      height: calc(100vw * 767 / 1440);
      position: relative;
      padding-top: 175px;
      @media screen and (max-width: 1199px) {
        padding-top: 130px;
      }
      @media screen and (max-width: 767px) {
        display: block;
        padding-top: 130px;
      }
    }

    .banner_item {
      background-image: url(../../public/home/banner_slider.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      // @media screen and (max-width: 1440px) {
      //     height: 48vh;
      // }
      @media screen and (max-width: 767px) {
        background-image: url(../../public/home/banner_mobile.jpg);
        height: 600px;
      }
      &.zoomin {
        // background-size: 100% 100%;
        background-position: center center;
        animation: shrink 5s;
        animation-fill-mode: both;
      }
      @keyframes shrink {
        0% {
          background-size: 110% 110%;
        }
        100% {
          background-size: 100% 100%;
        }
      }
    }
    .bottom_wave {
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
