.unique_features {
  .full_img {
    // background-image: url(../img/home/tea_ayurveda.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // padding-top: 500px;
    img {
      width: 100%;
    }
  }

  .tea_ayurveda_main {
    // background: rgb(248,246,231);
    // background: linear-gradient(90deg, rgba(248,246,231,1) 0%, rgba(248,246,231,1) 35%, rgba(248,246,231,1) 100%);
  }

  .tea_ayurveda {
    padding-top: 50px;
    @media screen and (max-width: 767px) {
      padding-top: 10px;
      flex-wrap: wrap;
    }
    .tea_ayurveda_content {
      width: 100%;
      text-align: center;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      p {
        margin: 0px;
        padding-bottom: 30px;
      }
      .sub_title {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 26px;
        font-weight: normal;
        font-family: var(--libre_baskerville_bold);
        color: #907636;
        @media screen and (max-width: 767px) {
          font-size: 22px;
          margin-bottom: 25px;
        }
      }
    }
  }

  .unique_flex {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 20px;
    --auto-grid-min-size: 13rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    width: 85%;
    margin: 30px auto 0 auto;
    @media screen and (max-width: 991px) {
      width: 100%;
      --auto-grid-min-size: 10rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      --auto-grid-min-size: 8rem;
    }
    .unique_content {
      text-align: center;
      margin-top: 20px;
      .unique_icon {
        margin: 0 auto;
      }
      .para {
        font-size: 18px;
        color: #2f2f2f;
        font-family: var(--libre_baskerville_bold);
        margin: 0;
        padding-top: 15px;
        @media screen and (max-width: 991px) {
          font-size: 16px;
        }
      }
    }
  }
}
